.container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 540px) {
  // svg {
  //   top: 20px;
  // }
  .svg-container{
    width: 60%;
  }
}

@media (min-width: 768px) {
  // svg {
  //   top: 60px;
  // }
  .svg-container {
    width: 60%;
  }
}

@media (min-width: 992px) {
  // svg {
  //   top: 80px;
  // }
  .svg-container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  // svg {
  //   top: 100px;
  // }
  .svg-container {
    width: 50%;
  }
}