@import "normalize-scss/_normalize";

body{
  font-family: 'DejaVu Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.svg-container {
  position: relative;
  margin: 0 auto 20px;
}

svg {
}

#six-logo {
  #path-1,
  #path-2 {
    fill-opacity: 0;
    fill: #fff;
    transition: fill-opacity 1.25s ease-out, stroke 1.25s ease-out;
  }

  &.finished {
    #path-1,
    #path-2 {
      fill: #fff;
      fill-opacity: 1;
      stroke: #fff;
    }
    * {
      stroke: #fff;
    }
  }

  #path-3,
  #path-4,
  #path-5, {
    fill-opacity: 1;
    fill: #000;
    transition: stroke 1.25s;
  }

}

.nav {
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 1.2s, opacity 2.7s;

  &.finished {
    opacity: 1;
    transform: translateY(0);
  }

  &-logo {
    display: block;
    margin: 0 auto;
    width: 267px;
    height: 36px;
  }
}

.collection-mark {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateY(80px);
  margin-bottom: 50px;

  &.finished {
    opacity: 1;
    transform: translateY(0);
  }

  img {
    margin: 0 auto;
    display: block;
  }
}

.button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  transition: opacity 1s ease-out;
  opacity: 0;
  cursor: pointer;

  &.finished {
    opacity: 1;
  }

  &--centered {
    margin: 0 auto;
    display: block;
    max-width: 110px;
  }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}


@import "media";